<section class="admin-products-index">
  <header class="page-header">
      <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th><h3>Total Products</h3></th>
          <th><h3>Total Categories</h3></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <h2>
              <%= @products_count %>
            </h2>
          </td>
          <td>
            <h2>
              <%= @categories_count %>
            </h2>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>

  <span>
    <%= link_to "Products", admin_products_path, class: 'btn btn-lg btn-primary' %>
  </span>

  <span style="float: right">
    <%= link_to "Categories", admin_products_path, class: 'btn btn-lg btn-primary' %>
  </span>

</section>